@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 226 34% 100%;
    --foreground: 226 68% 4%;
    --muted: 346 32% 85%;
    --muted-foreground: 346 15% 29%;
    --popover: 226 34% 100%;
    --popover-foreground: 226 68% 4%;
    --card: 226 34% 100%;
    --card-foreground: 226 68% 4%;
    --border: 226 9% 94%;
    --input: 226 9% 94%;
    --primary: 226 69% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 346 69% 50%;
    --secondary-foreground: 0 0% 100%;
    --accent: 106 69% 50%;
    --accent-foreground: 106 69% 10%;
    --destructive: 1 99% 33%;
    --destructive-foreground: 1 99% 93%;
    --ring: 226 69% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 226 33% 1%;
    --foreground: 226 28% 99%;
    --muted: 346 32% 15%;
    --muted-foreground: 346 15% 71%;
    --popover: 226 33% 1%;
    --popover-foreground: 226 28% 99%;
    --card: 226 33% 1%;
    --card-foreground: 226 28% 99%;
    --border: 226 9% 12%;
    --input: 226 9% 12%;
    --primary: 226 69% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 346 69% 50%;
    --secondary-foreground: 0 0% 100%;
    --accent: 106 69% 50%;
    --accent-foreground: 106 69% 10%;
    --destructive: 1 99% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 226 69% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
